.cartas-rival, .cartas-yo {
    grid-column-start: calc(2 + (2 * var(--x)));
    grid-column-end: span 1;

    grid-row-start: calc(3 + (2 * var(--y)));
    grid-row-end: span 1;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1%;
    background-color: rgba(0, 34, 255, 0.153);
}

.jugador {
    grid-column-start: 3;
    grid-column-end: span 3;
    margin-top: 10px;
    grid-row-start: var(--p);
    grid-row-end: span 1;
    background-color: rgb(255, 255, 255);
    background-image: var(--img);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20%;
    border: 10px solid transparent;
    border-image: url('./assets/marcos/jugador.png') 20 round;

    /* z-index: 1; */
}

.drop {
    grid-column-start: 1;
    grid-column-end: 8;

    grid-row-start: 2;
    grid-row-end: 7;
    z-index: 2;
}